{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
  <h1>This jumbotron</h1>
  <p>is taken from bootstrap</p>
</div>

    <h1>Greetings</h1>


    {% for name in list_of_names %}
    <div class="well well-sm">
        Hi {{ name }}
    </div>
    {% endfor %}

{% endblock %}